<div class="chat-top">
  <div class="left-header">
    <div class="room-name">hogefuga</div>
  </div>
  <div class="right-header">
    <div class="chat-exit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>


<div class="chat-text">
  <div class="chat-text-one">
    <div class="chat-text-two">
      <div class="name1">Tom</div>
      <div class="name2">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="name3-top">
      <div class="name3">
        おはよう
      </div>
    </div>
  </div>
  <div class="chat-text-one">
    <div class="chat-text-two">
      <div class="name1">Tom</div>
      <div class="name2">2020/3/31(Wed) 12:43:30</div>
    </div>
      <div class="name3-top">
        <div class="name3">
          こんばんは
        </div>
      </div>
  </div>
</div>

<div class="chat-bottom">
  <div class="from-input">
    <input type="text" placeholder="type a massage" class="type-one">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
  </div>
  <input type="submit" value="送信" class="submit-one">
</div>