.wrapper {
  display: flex;
}

.side-bar1 {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-bar-top {
  height: 100px;
  padding: 0 20px;
}

.side-bar-row {
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2F3E51;
}

.main-chat1 {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}

.chat-top {
  height: 100px;
  padding: 0 40px;
}

.chat-text {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  background-color: #FAFAFA;
}

.chat-bottom {
  height: 90px;
  padding: 20px 40px;
  background-color: #DDDDDD;
}